@model IEnumerable<projeto_mvc.Models.UsuarioViewModel>
@{
    ViewData["Title"] = "Home";
}  
<h1>Usuarios</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
        </tr>
    </thead>
    <tbody>
@if(Model != null){
    foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
            </tr>
    }
}
    </tbody>
</table>
<p>
    Ir para <a href="/Usuario/Login">login</a>
</p>
